body{
    background-color:#F3F3F3;
    padding: 0;
    color: #000000;
    font-family: monospace;
}

nav{
    background-color:#FFFFFF;
    width: 100%;
}

button{
    height: 100px;
}

#dev-icon{
    font-size: 4rem;
}


button{
    background-color: transparent;
}

.page-wrapper{
    padding:2vh 5vw;

}

footer{
    margin-top:250px;
    width:100%;
    bottom: 0;
}

.card{
    margin: 5vh 10vw;
    padding: 2vh 4vw;

    border: #141414;
    border-width: 2px;
    border-style: solid;
    border-radius: 15px;

    box-shadow: 4px 8px 15px grey;
    background-color: #ffffff;
    color: #000000;
    
}

.card a{
    color: white;
    text-decoration: none;
}

.card img{
    border:transparent;
    border-width: 2px;
    border-style: solid;
}

.fa-pizza-slice{
    color: #1B1B1B;
    font-size: 1rem;
}

small{
    font-size: 1rem;
    color:#1B1B1B;
}